		<!-- Program Section -->
		<div id="nav-program">
			<!-- Program Entry -->
			<div class="program-list">
				<div class="program-entry-block">
					<div class="program-entry-title">
						<!-- Entry Title -->
						<h3 class="title">Parity Group</h3>
						<!-- Entry Detail -->
						<!-- <span class="program-entry-detail">(Harvard GSD)</span> -->
					</div>
					<div class="program-entry-body">
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium laborum voluptatibus veritatis! Sunt nesciunt officia adipisci, deserunt, maxime delectus vitae, hic pariatur aperiam ea rerum?
						</p>
					</div>
				</div>
				<div class="program-entry-block">
					<div class="program-entry-title">
						<h3 class="title">WOMXN IN DESIGN</h3>
						<span class="program-entry-detail">(Harvard GSD)</span>
					</div>
					<div class="program-entry-body">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga perspiciatis officia facilis consectetur necessitatibus quod similique dignissimos perferendis magnam incidunt sit quos hic, veritatis quae sequi adipisci corporis blanditiis soluta nulla? Tenetur excepturi minima, a placeat, consectetur nam architecto tempora optio et, error facilis ad possimus maxime maiores voluptates eum!
					</div>
				</div>
				<div class="program-entry-block">
					<div class="program-entry-title">
						<h3 class="title">CLAIMING*SPACES</h3>
						<span class="program-entry-detail">(Tu Wein)</span>
					</div>
					<div class="program-entry-body">
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus voluptates blanditiis delectus maxime aut culpa, consequuntur eius amet facilis quod provident quis dolor optio voluptate consectetur! Dolores atque, amet ex et explicabo, optio asperiores earum saepe a, maiores esse laborum? Ducimus reiciendis magni, perspiciatis distinctio totam quo aliquid maxime aut?
					</div>
				</div>
			</div>
			<div class="program-intro">
				<p>A full-day online event with morning lectures and afternoon round-tables. Participate in the live streams here or on our twitch. </p>
			</div>
		</div>