
		<!-- Nav for Schedule section -->
		<div id="nav-schedule">
			<!-- Schedule Entry -->
			<div class="schedule-entry-block">
				<!-- Schedule Entry Time -->
				<div class="schedule-entry-time">
					<p>8:30</p>
				</div>
				<!-- Schedule Entry Rich Text -->
				<div class="schedule-entry-body">
					<p>Meike Schalk (Anna Boyksen Fellow)
						“Rethinking Institutionalized Patterns”
						Introduced by the Parity Board (TU Munich)</p>
				</div>
			</div>
			<div class="schedule-entry-block">
				<div class="schedule-entry-time">
					<p>8:30</p>
				</div>
				<div class="schedule-entry-body">
					<p>Meike Schalk (Anna Boyksen Fellow)
						“Rethinking Institutionalized Patterns”
						Introduced by the Parity Board (TU Munich)</p>
				</div>
			</div>
			<div class="schedule-entry-block">
				<div class="schedule-entry-time">
					<p>8:30</p>
				</div>
				<div class="schedule-entry-body">
					<p>Meike Schalk (Anna Boyksen Fellow)
						“Rethinking Institutionalized Patterns”
						Introduced by the Parity Board (TU Munich)</p>
				</div>
			</div>
			<div class="schedule-entry-block">
				<div class="schedule-entry-time">
					<p>8:30</p>
				</div>
				<div class="schedule-entry-body">
					<p>Meike Schalk (Anna Boyksen Fellow)
						“Rethinking Institutionalized Patterns”
						Introduced by the Parity Board (TU Munich)</p>
				</div>
			</div>
			<div class="schedule-entry-block">
				<div class="schedule-entry-time">
					<p>8:30</p>
				</div>
				<div class="schedule-entry-body">
					<p>Meike Schalk (Anna Boyksen Fellow)
						“Rethinking Institutionalized Patterns”
						Introduced by the Parity Board (TU Munich)</p>
				</div>
			</div>
			<div class="schedule-entry-block">
				<div class="schedule-entry-time">
					<p>8:30</p>
				</div>
				<div class="schedule-entry-body">
					<p>Meike Schalk (Anna Boyksen Fellow)
						“Rethinking Institutionalized Patterns”
						Introduced by the Parity Board (TU Munich)</p>
				</div>
			</div>
		</div>
