		<!-- Program Section -->
		<div class="program-intro">
			<p>A full-day online event with morning lectures and afternoon round-tables. Participate in the live streams here or on our twitch. </p>
		</div>
		<div id="nav-program">
			<!-- Program Entry -->
			<div class="program-entry-block">
				<div class="program-entry-title">
					<!-- Entry Title -->
					<h3 class="title">Parity Group</h3>
					<!-- Entry Detail -->
					<!-- <span class="program-entry-detail">(Harvard GSD)</span> -->
				</div>
			</div>
			<div class="program-entry-block">
				<div class="program-entry-title">
					<h3 class="title">WOMXN IN DESIGN</h3>
					<span class="program-entry-detail">(Harvard GSD)</span>
				</div>
			</div>
			<div class="program-entry-block">
				<div class="program-entry-title">
					<h3 class="title">CLAIMING*SPACES</h3>
					<span class="program-entry-detail">(Tu Wein)</span>
				</div>
			</div>
		</div>
