<div class="header">
	<div class="header-one">
		<div class="header-one-left">
			<!-- if recording etc -->
		</div>
		<div class="header-one-main">Parity</div>
		<div class="header-one-right"></div>
	</div>
	<div class="header-one-body">
		<nav>
			<ul>
				<li class="nav-main-item"><a href="/group.html">Group</a></li>
				<li class="nav-main-item"><a href="/season.html">Season</a></li>
				<li class="nav-main-item"><a href="/index.html">Talks</a></li>
				<li class="nav-main-item"><a href="/projects.html">Projects</a></li>
				<li class="nav-main-item"><a href="/archive.html">Archive</a></li>
			</ul>
		</nav>
	</div>
</div>