#season {
	margin-top: 184px;
}

#season-header {
	.header-main {
		.title {
			padding: 0 .5rem;
		}
	}
}

.header-main {
	display: flex;
	justify-content: center;
	.title {
		cursor: pointer;
		color: $grey;
	}
	.active {
		color: $black;
	}
}
.season-toggle {
	&:first-of-type {
		padding-right: 0.25rem;
	}
}
.online-legend {
	text-transform: uppercase;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	.legend {
		padding: 0.25rem 0.5rem;
		flex: 0;
		@include text();
	}
	.online {
		color: $black;
		flex: 0;
		padding-right: 1rem;
	}
	.offline {
		color: $white;
		background-color: $black;
	}
}
.online-legend {
	align-self: flex-end;
	padding-top: 1rem;
	.legend {
		text-transform: capitalize;
		@include small-text();
	}
}

#season {
	&.month {
		.season-entry-date,
		.season-entry-title {
			@include title();
			p {
				@include title();
			}
		}
		.season-entry-description {
			> h4 {
				display: block;
			}
		}
	}
}

#season {
	&.year {
		.season-entry-description {
			> h4 {
				@include text();
			}
		}
	}
}

.season-entry {
	&.offline {
		background-color: $black;
		color: $white;
	}
}

.season-entry {
	cursor: pointer;
	display: flex;
	padding: 1rem;
	&.active {
		.season-entry-detail {
			margin-top: 2rem;
			margin-bottom: 1rem;
		}
	}
}
.season-entry-date {
	word-break: break-all;
	padding-right: 1rem;
	width: calc(100% / 6 * 1);
}
.season-entry-description {
	width: calc(100% / 6 * 5);
	display: flex;
	flex-direction: column;
}

.season-entry-title {
	width: calc(100% / 5 * 4);
	p {
		word-break: break-word;
	}
}

.season-entry-detail {
	max-height: 0;
	justify-content: space-between;
	overflow: hidden;
	display: flex;
	transition: all 0.2s ease;
}

.season-entry-body {
	width: calc(100% / 5 * 3);
}
.season-entry-info {
	width: calc(100% / 5 * 1);
}
.season-entry-host {
	padding-bottom: 1rem;
}

@media only screen and (max-width: $desktop) {

	.season-entry {
		flex-direction: column;
	}
	.season-entry-date {
		br {
			display: none;
		}
	}
	.month {
		.season-entry-date,
		.season-entry-description {
			width: 100%;
		}
	}
}

@media only screen and (max-width: $mobile) {
	#season {
		margin-top: 220px;
	}
	#season-header {
		.header-main {
			width: 100%;
			display: flex;
			justify-content: space-between;
			.title {
				padding: 0;
			}
		}
	}

	.season-entry-body,
	.season-entry-title,
	.season-entry-info,
	.season-entry-date,
	.season-entry-description {
		width: 100%;
	}
	.season-entry-body {
		padding-bottom: 1rem;
	}
	.season-entry-time {
		padding-bottom: 0.5rem;
	}

	.season-entry-info {
		display: flex;
		justify-content: space-between;
		.season-entry-link {
			@include small-text();
		}
	}
	.season-entry-host {
		width: calc(100%/ 6 * 4);
		padding-right: 1rem;
		& + div {
			width: calc(100% / 6 * 2);
		}
	}
	
	.season-entry-detail {
		flex-wrap: wrap;
	}
}
