{% extends "_layouts/default" %}

{% block content %}
<div class="header talks">
	<!-- Main header -->
	<div class="header-one">
		<div class="fixed-center">
			<div><h4 class="toggle-nav mobile">menu</h4></div>
			<div class="title">Parity</div>
			<div class="header-list-right">
			<h4><a target="_blank" href="https://www.instagram.com/paritygroup/">Instagram</a></h4>
			<h4><a target="_blank" href="https://ethz.us1.list-manage.com/subscribe?u=b139916afb36198203a069bfd&id=3eec66abe4">Mailing List</a></h4>
			<h4><a target="_blank" href="mailto:parity@arch.ethz.ch">Contact</a></h4>
				<div class="mobile"><span class="live-now">Live</span></div>
			</div>
		</div>
		<div class="header-one-body">
			<nav>
				<ul id="primary-nav">
					<li class="nav-main-item title"><a href="/group">Group</a></li>
					<li class="nav-main-item title active"><a href="/talks">Talks</a></li>
					<li class="nav-main-item title"><a href="/calendar">Calendar</a></li>

				</ul>
			</nav>
		</div>
	</div>
	<!-- Header Two Talks -->
<div class="header-two fixed-center">
	<div class="header-two-left title"><a href="/talks">10.03.2021</a><div class="live-now-container"><span class="live-now mobile-hide">Live</span></div></div>
	<div class="header-two-main title">What's Good</a></div>
	<div class="header-list-right">
		<h4 class="nav-three-item active"><a href="/talks/info">Info</a></h4>
		<h4 class="nav-three-item"><a href="/talks/schedule">Schedule</a></h4>
	</div>
</div>
</div>

<!-- Accordions -->
<!-- Header Three Talks Content-->
<div class="title-header">
	<h2 class="title">Since March 8th 2016, the International Women’s Day, Parity Talks take place at the Department of Architecture. </h2>
</div>

<main id="info">
	<div class="info-text">
		<p>The first three editions of Parity Talks, members of the Parity Group – a bottom-​up initiative set up and maintained by assistants – organized the event.</p>
		<p>The aim is a public debate on gender equality and diversity in architectural education as well as in the profession in Switzerland and abroad, and – within the framework of ETH Gender Action Plan, introduced in 2014 – to developed strategies and tools for achieving gender parity (equal opportunities for men and women) in our department – especially towards increasing the unusually low number of female Professors.</p>
	</div>
	<!-- Program Section -->
	<div id="nav-program">
		<!-- Program Entry -->
		<h4 class="program-header">Partners of the Parity Talks 2021:</h4>
		<div class="program-list">

			{% set entries = craft.entries.section('partners').all() %}
			{% for partner in entries %}
			<div class="program-entry">
				<div class="program-entry-title{% if (partner.partnersDescription == false and partner.partnerWebsite == false) %} no-click{% endif %}">
					<!-- Entry Title -->
					<p>{{partner.title}}</p>
					<!-- Entry Detail -->
				</div>
				{% if (partner.partnersDescription or partner.partnerWebsite) %}
				<div class="program-entry-detail">
					<p>{{partner.partnersDescription | nl2br}}</p>
					{% if partner.partnerWebsite %}
					<p class="link"><a target="_blank" href="{{ partner.partnerWebsite }}">Website</a></p>
					{% endif %}
				</div>
				{% endif %}
			</div>
			{% endfor %}
</main>

{% endblock %}