{% extends "_layouts/default" %}

{% block content %}

<div class="header talks">
	<!-- Main header -->
	<div class="header-one">
		<div class="fixed-center">
			<div><h4 class="toggle-nav mobile">menu</h4></div>
			<div class="title">Parity</div>
			<div class="header-list-right">
			<h4><a target="_blank" href="https://www.instagram.com/paritygroup/">Instagram</a></h4>
			<h4><a target="_blank" href="https://ethz.us1.list-manage.com/subscribe?u=b139916afb36198203a069bfd&id=3eec66abe4">Mailing List</a></h4>
			<h4><a target="_blank" href="mailto:parity@arch.ethz.ch">Contact</a></h4>
				<div class="mobile"><span class="live-now">Live</span></div>
			</div>
		</div>
		<div class="header-one-body">
			<nav>
				<ul id="primary-nav">
					<li class="nav-main-item title"><a href="/group">Group</a></li>
					<li class="nav-main-item title active"><a href="/">Talks</a></li>
					<li class="nav-main-item title"><a href="/calendar">Calendar</a></li>	
				</ul>
			</nav>
		</div>
	</div>
		<!-- Header Two Talks -->

	<div class="header-two fixed-center">
		<div class="header-two-left title"><a href="/talks/stream">10.03.2021</a><div class="live-now-container"><span class="live-now mobile-hide">Live</span></div></div>
			<div class="header-two-main title"><a href="/">What's Good</a></div>
			<div class="header-list-right">
				<h4 class="nav-three-item"><a href="/talks/info">Info</a></h4>
				<h4 class="nav-three-item active"><a href="/talks/schedule">Schedule</a></h4>
			</div>
		</div>
</div>

<main id="schedule">
	<!-- Schedule Entry -->
	{% set entries = craft.entries.section('schedule').orderBy('startTime asc').all() %}
	{% for schedule in entries %}

	<div class="schedule-entry{% if schedule.description == false %} no-click{% endif %}">
		<!-- Schedule Entry Time -->
			<div class="schedule-entry-time">
				<p>{{ schedule.startTime|date('H:i') }}</p>
			</div>
			<!-- Schedule Entry Rich Text -->
			<div class="schedule-entry-body">
				<p>{{ schedule.title }}</p>
				{% if schedule.description %}
					<div class="schedule-entry-detail">{{ schedule.description | nl2br}}</div>
				{% endif %}
			</div>
	</div>
	{% endfor %}
</main>

{% endblock %}
