{% extends "_layouts/default" %}

{% block content %}
<div class="header talks live">
	<!-- Main header -->
	<div class="header-one">
		<div class="fixed-center">
			<div><h4 class="toggle-nav mobile">menu</h4></div>
			<div class="title">Parity</div>
			<div class="header-list-right">
			<h4><a target="_blank" href="https://www.instagram.com/paritygroup/">Instagram</a></h4>
			<h4><a target="_blank" href="https://ethz.us1.list-manage.com/subscribe?u=b139916afb36198203a069bfd&id=3eec66abe4">Mailing List</a></h4>
			<h4><a target="_blank" href="mailto:parity@arch.ethz.ch">Contact</a></h4>
				<div class="mobile"><span class="live-now">Live</span></div>
			</div>
		</div>
		<div class="header-one-body">
			<nav>
				<ul id="primary-nav">
					<li class="nav-main-item title"><a href="/group">Group</a></li>
					<li class="nav-main-item title active"><a href="/">Talks</a></li>
					<li class="nav-main-item title"><a href="/calendar">Calendar</a></li>

				</ul>
			</nav>
		</div>
	</div>
	<!-- Header Two Talks -->
	<div class="header-two fixed-center">
	<div class="header-two-left title active"><a href="/talks/stream">10.03.2021</a><div class="live-now-container"><span class="live-now mobile-hide">Live</span></div></div>
		<div class="header-two-main title"><a href="/">What's Good</a></div>
		<div class="header-list-right">
			<h4 class="nav-three-item"><a href="/talks/info">Info</a></h4>
			<h4 class="nav-three-item"><a href="/talks/schedule">Schedule</a></h4>
		</div>
	</div>
</div>

<div id="stream">
	<iframe src="https://vimeo.com/event/315582/embed/2c9bd50702" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:50%;transform:translateX(-50%);width:calc(100% - 2rem);height:100%;"></iframe></div>
</div>

{% endblock %}