$black: #0e1111;
$white: #fff;
$whitedark: darken($white, 10);
$grey: #d2d2d2;
$darkgrey: #565656;
$primary: #e1ff00;
$primarydark: darken($primary, 30);
$moleturm: #1546c5;
$buchhornplatz: #068180;
$adenauerplatz: #0cb2c2;

$desktop: '1160px';
$mobile: '758px';
