{% extends "_layouts/default" %}

{% block content %}

<div class="header season">
	<!-- Main header -->
	<div class="header-one">
		<div class="fixed-center">
			<div><h4 class="toggle-nav mobile">menu</h4></div>
			<div class="title">Parity</div>
			<div class="header-list-right">
				<h4><a href="">Instagram</a></h4>
				<h4><a href="">Mailing List</a></h4>
				<h4><a href="#contact">Contact</a></h4>
				<div class="mobile"><span class="live-now">Live</span></div>
			</div>
		</div>
		<div class="header-one-body">
			<nav>
				<ul id="primary-nav">
					<li class="nav-main-item title"><a href="/group">Group</a></li>
					<li class="nav-main-item title"><a href="/talks">Talks</a></li>
					<li class="nav-main-item title active"><a href="/season">Season</a></li>

				</ul>
			</nav>
		</div>
	</div>
	<div id="season-header" class="header-two fixed-center">
		<div class="header-left"></div>
		<div class="header-main">
			<div id="year" class="season-toggle">
				<h2 class="title">Year</h2>
			</div>
			<div id="month" class="season-toggle">
				<h2 class="title active">Month</h2>
			</div>
		</div>
		<div class="online-legend">
			<div class="legend online">online</div>
			<div class="legend offline">offline</div>
		</div>
	</div>
</div>

<!-- Header Two Season -->

<main id="season" class="month">
	<div class="season-entry">
		<div class="season-entry-date">10.02.2021</div>
		<div class="season-entry-description">
			<h4>Claiming Spaces Festival</h4>
			<div class="season-entry-title">
				<p>
					Wahlfach Fifty–Fifty : Vortrag «Frauengeschichte(n): 1980 - 1986 - 2001 - 2021 Ein feministisches Buchprojekt mit Breitenwirkung»
				</p>
			</div>
			<div class="season-entry-detail">
				<div class="season-entry-body">
					<p>
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, debitis libero laborum rerum quo eos quaerat expedita laboriosam explicabo. Est, nesciunt, a adipisci excepturi, distinctio molestiae perferendis impedit harum consequuntur eos aliquam sequi. Deserunt laborum explicabo incidunt quam, unde eligendi laudantium repellat repellendus asperiores optio ducimus nesciunt iure rerum at!</div>
					</p>
				<div class="season-entry-info">
					<div class="season-entry-host">
						<p>Speaker:</p>
						<p>Host: Chair Prof. Dr. <br>Elli Mosayebi</p>
					</div>
					<div>
						<div class="season-entry-time">Time: 17.00-18.00</div>
						<div class="season-entry-link"><i><a href="#" target="_blank">Online Link</a></i></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="season-entry offline">
		<div class="season-entry-date">10.02.2021</div>
		<div class="season-entry-description">
			<h4>Claiming Spaces Festival</h4>
			<div class="season-entry-title">
				<p>
					Wahlfach Fifty–Fifty : Vortrag «Frauengeschichte(n): 1980 - 1986 - 2001 - 2021 Ein feministisches Buchprojekt mit Breitenwirkung»
				</p>
			</div>
			<div class="season-entry-detail">
				<div class="season-entry-body">
					<p>
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, debitis libero laborum rerum quo eos quaerat expedita laboriosam explicabo. Est, nesciunt, a adipisci excepturi, distinctio molestiae perferendis impedit harum consequuntur eos aliquam sequi. Deserunt laborum explicabo incidunt quam, unde eligendi laudantium repellat repellendus asperiores optio ducimus nesciunt iure rerum at!</div>
					</p>
				<div class="season-entry-info">
					<div class="season-entry-host">
						<p>Speaker:</p>
						<p>Host: Chair Prof. Dr. <br>Elli Mosayebi</p>
					</div>
					<div>
						<div class="season-entry-time">Time: 17.00-18.00</div>
						<div class="season-entry-link"><i><a href="#" target="_blank">Online Link</a></i></div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="season-entry">
		<div class="season-entry-date">10.02.2021</div>
		<div class="season-entry-description">
			<h4>Claiming Spaces Festival</h4>
			<div class="season-entry-title">
				<p>
					Wahlfach Fifty–Fifty : Vortrag «Frauengeschichte(n): 1980 - 1986 - 2001 - 2021 Ein feministisches Buchprojekt mit Breitenwirkung»
				</p>
			</div>
			<div class="season-entry-detail">
				<div class="season-entry-body">
					<p>
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, debitis libero laborum rerum quo eos quaerat expedita laboriosam explicabo. Est, nesciunt, a adipisci excepturi, distinctio molestiae perferendis impedit harum consequuntur eos aliquam sequi. Deserunt laborum explicabo incidunt quam, unde eligendi laudantium repellat repellendus asperiores optio ducimus nesciunt iure rerum at!</div>
					</p>
				<div class="season-entry-info">
					<div class="season-entry-host">
						<p>Speaker:</p>
						<p>Host: Chair Prof. Dr. <br>Elli Mosayebi</p>
					</div>
					<div>
						<div class="season-entry-time">Time: 17.00-18.00</div>
						<div class="season-entry-link"><i><a href="#" target="_blank">Online Link</a></i></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

{% endblock %}