{% extends "_layout" %}

{% block content %}

<section id="stream">
	<div class="wrapper">
		<div id="twitch-embed"></div>
		<p>Um live kommentieren zu können, meldet euch bei Twitch an und folgt dem Seekult Account. Rave responsibly!</p>
	</div>
</section>
<script src="https://embed.twitch.tv/embed/v1.js"></script>

<script type="text/javascript">
	new Twitch.Embed("twitch-embed", {
		width: '100%',
		height: '600px',
		channel: "seekult",
		// only needed if your site is also embedded on embed.example.com and othersite.example.com 
		// parent: ["embed.example.com", "othersite.example.com"]
	});
</script>

{% endblock %}
