<head></head>
<div class="header">
	<!-- Main header -->
	<div class="header-one">
		<div class="fixed-center">
			<div></div>
			<div class="title">Parity</div>
			<div class="header-list-right">
				<h4><a href="">Instagram</a></h4>
				<h4><a href="">Mailing List</a></h4>
				<h4><a href="#contact">Contact</a></h4>
			</div>
		</div>
		<div class="header-one-body">
			<nav>
				<ul>
					<li class="nav-main-item title"><a href="/group.html">Group</a></li>
					<li class="nav-main-item title active"><a href="/index.html">Talks</a></li>
					<li class="nav-main-item title"><a href="/season.html">Season</a></li>
					<!-- <li class="nav-main-item title"><a href="/projects.html">Projects</a></li> -->
					<!-- <li class="nav-main-item title"><a href="/archive.html">Archive</a></li> -->
				</ul>
			</nav>
		</div>
	</div>
</div>

<!-- Header Two Talks -->
<div class="header-two fixed-center">
	<div class="header-two-left title">10.03.2021</div>
	<div class="header-two-main title"> <a href="/index.html">What's Good</a></div>
	<div class="header-list-right">
		<h4 class="nav-three-item active"><a href="/info.html">Info</a></h4>
		<h4 class="nav-three-item"><a href="/schedule.html">Schedule</a></h4>
	</div>
</div>

<!-- Accordions -->
<!-- Header Three Talks Content-->
<div class="title-header">
	<h2 class="title">Since March 8th 2016, the International Women’s Day, Parity Talks take place at the Department of Architecture. </h2>
</div>

<main id="info">
	<div class="info-text">
		<p>The first three editions of Parity Talks, members of the Parity Group – a bottom-​up initiative set up and maintained by assistants – organized the event.</p>
		<p>The aim is a public debate on gender equality and diversity in architectural education as well as in the profession in Switzerland and abroad, and – within the framework of ETH Gender Action Plan, introduced in 2014 – to developed strategies and tools for achieving gender parity (equal opportunities for men and women) in our department – especially towards increasing the unusually low number of female Professors.</p>
	</div>
	<!-- Program Section -->
	<div id="nav-program">
		<!-- Program Entry -->
		<h4 class="program-header">Partners of the Parity Talks 2021:</h4>
		<div class="program-list">
			<div class="program-entry">
				<div class="program-entry-title">
					<!-- Entry Title -->
					<p>Parity Group</p>
					<!-- Entry Detail -->
				</div>
				<div class="program-entry-detail">
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus voluptates blanditiis delectus maxime aut culpa, consequuntur eius amet facilis quod provident quis dolor optio voluptate consectetur! Dolores atque, amet ex et explicabo, optio asperiores earum saepe a, maiores esse laborum? Ducimus reiciendis magni, perspiciatis distinctio totam quo aliquid maxime aut?</p>
					<!-- TODO: For link in links -->
					<p class="link"><a href="#">Website</a></p>
				</div>
			</div>
			<div class="program-entry">
				<div class="program-entry-title">
					<p>WOMXN IN DESIGN (Harvard GSD)</p>
				</div>
				<div class="program-entry-detail">
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus voluptates blanditiis delectus maxime aut culpa, consequuntur eius amet facilis quod provident quis dolor optio voluptate consectetur! Dolores atque, amet ex et explicabo, optio asperiores earum saepe a, maiores esse laborum? Ducimus reiciendis magni, perspiciatis distinctio totam quo aliquid maxime aut?</p>
					<!-- TODO: For link in links -->
					<p class="link"><a href="#">Website</a></p>
				</div>
			</div>
			<div class="program-entry">
				<div class="program-entry-title">
					<p>CLAIMING*SPACES (Tu Wein)</p>
				</div>
				<div class="program-entry-detail">
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus voluptates blanditiis delectus maxime aut culpa, consequuntur eius amet facilis quod provident quis dolor optio voluptate consectetur! Dolores atque, amet ex et explicabo, optio asperiores earum saepe a, maiores esse laborum? Ducimus reiciendis magni, perspiciatis distinctio totam quo aliquid maxime aut?</p>
					<!-- TODO: For link in links -->
					<p class="link"><a href="#">Website</a></p>
				</div>
			</div>
		</div>
	</div>
</main>


<footer></footer>

</html>