<header></header>
	<!-- Header Two Talks -->

	<div class="header-two fixed-center">
		<div class="header-two-left title">10.03.2021</div>
		<div class="header-two-main title"> What's Good</div>
		<div class="header-list-right">
			<h4 class="nav-three-item"><a href="/index.html">Live Stream</a></h4>
			<h4 class="nav-three-item active"><a href="/program.html">Program</a></h4>
			<h4 class="nav-three-item"><a href="/schedule.html">Schedule</a></h4>
		</div>
	</div>

<!-- Accordions -->
<!-- Header Three Talks Content-->
<div id="talks-header-three" class="header-three">
	<p>
		The first three editions of Parity Talks, members of the Parity Group – a bottom-​up initiative set up and maintained by assistants – organized the event.

The aim is a public debate on gender equality and diversity in architectural education as well as in the profession in Switzerland and abroad, and – within the framework of ETH Gender Action Plan, introduced in 2014 – to developed strategies and tools for achieving gender parity (equal opportunities for men and women) in our department – especially towards increasing the unusually low number of female Professors.
	</p>
	<nav-program></nav-program>
</div>

<footer></footer>

</html>