//== Core CSS
//## General

// Hamburger menu

* {
    box-sizing: border-box;
}

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
    font-family: 'Monument';
    -webkit-text-size-adjust:none;
}

body {
    font-family: 'Monument', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.wrapper {
    padding: 0 8%;
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;
    @include for-tablet-down() {
        padding: 0 5%;
    }
}
