//== Core CSS
//## General

// Hamburger menu

* {
    box-sizing: border-box;
}

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
    font-family: 'Monument';
    -webkit-text-size-adjust:none;
}

body {
    font-family: 'Monument', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

// Navigation
header {
    z-index: 20;
    position: relative;
    top: 0;
    width: 100%;
}
.hamburger {
    display: none;
}

.navigation-links {
    display: none;
}

nav {
    padding:1rem 0;
    ul {
        display: flex;
        padding: 0;
        margin: 0;
    }
    li {
        list-style-type: none;
        padding: 0 1rem;
    }
    a {
        transition: all 0.25s ease;
        &:hover {
            color: $primary
        }
    }
}

@include for-phone-only(){
	header {
        position: relative;
        ul {
            flex-direction: column;
            padding: 4rem 0;
            li {
                padding-bottom: 1rem;
                text-align: center;
            }
        }
    }
    #navigation {
        background-color: #ededed;
        position: absolute;
        z-index: 10;
        left: 0;
        height: auto;
        width: 100vw;
        transform: translateX(-100%);
        transition: all 0.25s ease-in;
        &.is-active {
            transform: translateX(0)
        }
    }
    .navigation-links {
        display: block;
        margin-top: 1rem;
        i, svg {
            margin: 0 1rem;
        }
    }
    .hamburger {
        z-index: 20;
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: block;

    }
}


.wrapper {
    padding: 0 8%;
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;
    @include for-tablet-down() {
        padding: 0 5%;
    }
}

// Home Hero 

#hero {
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
}

.hero-background {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

.hero-header__content {
    max-width: 50%;
    margin: auto 0;
    @include for-tablet-down() {
        max-width: 80%;
    }
}

.page-title {
    margin: 2rem 0;
}

.page-subtitle {
    line-height: 1;
}

.logo-container {
    background-image: url('../img/theme/Cover.Logo.Orange.png');
    height: 100%;
    width: 100%;
    max-width: 800px;
    position: absolute;
    right: -5%;
    z-index: 20;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    animation:spin 250s linear infinite;
    transform-origin: 50% 50%;
}

// Button 

button.primary {
    padding: 20px 30px;
    color: white;
    background-color: $black;
    border: none;
    transition: all 0.05s ease;
    &:hover {
        background-color: $grey;
        cursor: pointer;
    }
}

// Logbook

section {
    padding: 100px 0;
    @include for-phone-only {
        padding: 3rem 0;
    }
}

#about {
    li {
        font-size: 0.75rem;
        font-family: sans-serif;
    }
}

.back-link {
    transition: all 0.25s ease;
    background-color: $black;
    color: $white;
    padding: 0.25rem;
    &:hover {
        background-color: $primary;
        svg, i {
            margin-right: 0.5rem;
        }
    }
    svg, i {
        color: $white;
        margin-right: 0.5rem;
    }
    svg {
        path {
            fill: $white;
        }
    }
}

// about page

.content-container {
    max-width: 90%;
    @include for-phone-only(){
        max-width: 100%;
    }
    &:not(:last-of-type){
        margin-bottom: 3rem;
    }
}

.content-split {
    display: flex;
    justify-content: space-between;
    .content-text {
        width: calc(50% - 1rem);
    }
    .content-image {
        width: calc(50% - 1rem);
        img {
            width: 100%;
        }
    }
    @include for-phone-only(){
        flex-wrap: wrap;
        .content-text, .content-image {
            width: 100%;
        }
        .content-image {
            padding: 1rem 0;
        }
    }
}

.uppercase {
    text-transform: uppercase;
}

.hero-artist-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    h4 {
        margin-bottom: 0;
    }
}

.page-title {
    margin-top: 0;
}
.artist-entries {
    font-size: 1rem;
    line-height: 1.5rem;

    .artist-entry {
        white-space: nowrap;
        @include animated-links($black);
    }
}