//== Components
//## Loader
.lazyloading {
    min-width: 100%;
    opacity: 0;
}
.lazyload {
    opacity: 0;
    transition: opacity .7s;
}
.lazyloaded {
    opacity: 1;
    transition: opacity .7s;
}