
// Logbook Component

#logbook {
	background: linear-gradient(to bottom, rgba(0,0,0, 0.20), rgba(0,0,0, 0.20)), url('../img/theme/Hintergrtund.Blau.png');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

#events-explorer {
	padding: 3rem 0 0;
}


.archive-container {
	border-top: 1px solid $black;
}

.archive-date {
	border-bottom: 1px solid $grey;
	padding: 1rem;
}

.archive-content {
	margin-bottom: 2rem;
}

.main.interaction-container {
	.interaction-header {
			border-bottom: none !important;
	}
	.interaction-date {
		font-size: 1rem;
		font-family: Monument;
	}
	.answer-container {
			background-color: $white;
			color: $black;
			margin-bottom: 1rem;
			border-bottom: none;
			p {
				font-size: 1rem;
				font-family: Monument;
			}
			&.active {
					background-color: $black;
					color: $white;
					&:after {
							background-color: $white;
					}
			}
			
			&:after {
					background-color: $black;
					height: 0.8rem;
					width: 0.8rem;
			}
	}
}

.interaction-container:not(.active) {
	.interaction-prompt {
			display: none;
	}
	.answers-list {
			display: none;
	}
}

.interaction-container {
	position: relative;
	&.active {
		.interaction-header {
			border-bottom: 1px solid $grey;
		}
	}
}

.interaction-header {
	border-bottom: 2px solid $black;
	padding: 1rem 0;
}

.interaction-date {
	margin: 0;
}

.interaction-prompt {
	margin: 1rem 0;
}

.answer-container {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: white;
	color: black;
	padding: 1rem 2rem;
	border-bottom: 1px solid $grey;
	color: $black;
	transition: all 0.5s ease;
	.answer-body {
			display: none;
	}

	&.active {
			.answer-body {
				display: block;
			}
			&:after {
				background-color: $black;
			}
	}

	&:after {
			content: ' ';
	    position: absolute;
	    width: 0.5rem;
	    height: 0.5rem;
	    left: -0.4rem;
	    top: 50%;
	    transform: translateY(-50%);
	    background-color: $black;
	    border-radius: 50%;
	    z-index: 10;
			transition: all 1s ease;
	}
}

.toggle-active-overlay {
	cursor: pointer;
	position: absolute;
	height: 100%;
	width: 100%;
	top:0;
	left:0;
	&:hover {
		& + .interaction-header {
			color: $primary;
		}
		& + .answer-body,
		& + .answer-header {
			color: $primary;
		}
	}
}

.answers-list {
	margin-bottom: 3rem;
}

.answer-name {
	padding-right: 2rem;
	@include for-phone-only(){
		padding-right: 0;
	}
}
.answer-header {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
		&:hover {
		color: $primary;
		cursor: pointer;
	}
	h4 {
		margin: 0.5rem;
	}
}

.answer-body {
	display: flex;
	flex-direction: column;
	figure {
		img {
			max-width: 100%;
		}
		figcaption {
			font-size: 0.75rem;
		}
	}
}

.answer-photo {
	display: flex;
	justify-content: center;
	video {
		width: 100%;
		height: auto;
	}
	img, video {
		max-width: 100%;
		max-height: 400px;
	}
}

@include for-phone-only(){
	.answer-header {
		flex-direction: column;
		p:first-of-type {
			margin-bottom: 0;
		}
	}
}