.header {
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
}

.header-list-right {
	justify-content: flex-end;
	display: flex;
	h4 {
		padding-right: 1rem;
	}
}

.fixed-center {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
}

.header-one, .header-two{
	padding: 0 1rem;
}

.header-one-body {
	.title:not(.active){
		color: $grey;
	}
}

nav ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	li {
		padding: 0 0.5rem;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
}

.header-three {
	color: $black;
}
