
// Events list

.interventions-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
}

.map-container {
	background-image: url('../img/theme/Map.png');
	background-size: contain;
	background-repeat: no-repeat;
	max-height: 675px;
	background-position: right;
	width: calc(50% - 1rem);
}

.events-container {
	margin-bottom: 2rem;
	width: calc(50% - 1rem);
}
.events-categories {
	padding: 0 0 1rem 0;

	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid black;
	span {
			@include animated-links($black);
			cursor: pointer;
	}
}
.event-container {
	padding: 1rem;
	display: flex;
	border-bottom: 1px solid grey;
	position: relative;
}

.moleturm {
	background: rgba(0, 0, 0, 0) linear-gradient(90deg, $moleturm 0%, $moleturm 80px, transparent 80px, transparent 100%) repeat scroll 0% 0%;
}

.buchhornplatz {
	background: rgba(0, 0, 0, 0) linear-gradient(90deg, $buchhornplatz  0%, $buchhornplatz  80px, transparent 80px, transparent 100%) repeat scroll 0% 0%;
}

.adenauerplatz {
	background: rgba(0, 0, 0, 0) linear-gradient(90deg, $adenauerplatz 0%, $adenauerplatz 80px, transparent 80px, transparent 100%) repeat scroll 0% 0%;
}

.event-image {
	width: 175px;
	height: 175px;
	background-size: cover;
	flex-shrink: 0;
}

.event-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 2rem; 
	h3 {
			margin: 0.5rem 0;
			margin-bottom: 0.25rem;
	}
	p {
			font-family: sans-serif;
			font-weight: normal;
			margin-bottom: 0;
	}
	a {
			white-space: nowrap;
			line-height: 1rem;
			@include animated-links($black);
	}
}

.event-type {
	@include blackbox;
	align-self: flex-start;
}


@include for-tablet-down(){
	.interventions-container {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.map-container {
					height: 500px;
			}
			.events-container {
					width: 70%;
			}
	}
}
@include for-phone-only(){
	.interventions-container {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.map-container {
					width: 100%;
					height: 0;
					padding-bottom: 100%;
					margin-bottom: 1rem;
			}
			.events-container {
					width: 100%;
			}
	}
	.event-container {
		flex-direction: column;
		padding-left: 2rem;
		.event-content {
			padding-top: 1rem;
			padding-left: 0;
		}
	}
}
