$black: #0e1111;
$white: #FFF;
$whitedark: darken($white, 10);
$grey: #D2D2D2;
$darkgrey: #565656;
$primary:  #E1FF00;
$primarydark: darken($primary, 30);
$moleturm: #1546c5;
$buchhornplatz: #068180;
$adenauerplatz: #0cb2c2;

$desktop: '1160px';
$mobile: '758px';