<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Parity Group</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link href="../assets/style.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/icons/favicon-16x16.png">
    <link rel="manifest" href="../assets/icons/site.webmanifest">
    <link rel="mask-icon" href="../assets/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
</head>
{% set live = craft.entries.section('talks').one().liveSwitch %}
<body class="{% if craft.request.getSegment(1) == 'talks' %}primary{% endif %}{% if live == true %} live{% endif %}">
			{% block content %}
      {% endblock %}
</div>
</body>

<div id="mobile-nav">
	<div class="header">
		<!-- Main header -->
		<div class="header-one">
			<div class="fixed-center">
				<div><h4 class="toggle-nav mobile">back</h4></div>
				<div class="title">Parity</div>
				<div class="header-list-right">
					<h4 class="live-now">Live</h4>
				</div>
			</div>
			<div class="header-one-body">
				<nav>
					<ul id="primary-nav">
						<li class="nav-main-item title {% if craft.request.getSegment(1) == 'group' %}active{% endif %}"><a href="/group">Group</a></li>
						<li class="nav-main-item title primary {% if craft.request.getSegment(1) == 'talks' %}active{% endif %}"><a href="/talks">Talks</a></li>
						<li class="nav-main-item title {% if craft.request.getSegment(1) == 'season' %}active{% endif %}"><a href="/calendar">Calendar</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="mobile-nav-links">
			<h4><a target="_blank" href="https://www.instagram.com/paritygroup/">Instagram</a></h4>
			<h4><a target="_blank" href="https://ethz.us1.list-manage.com/subscribe?u=b139916afb36198203a069bfd&id=3eec66abe4">Mailing List</a></h4>
			<h4><a target="_blank" href="mailto:parity@arch.ethz.ch">Contact</a></h4>
		</div>
	</div>
</div>

<script src="../assets/app.bundle.js"></script>
</html>
